<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <@cms.tmeta />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="${staticRoot}/favicon.ico">

	<!-- 新 Bootstrap 核心 CSS 文件 -->
   <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
   <!-- 可选的Bootstrap主题文件（一般不用引入） -->
   	<!--  
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  -->
   <!-- Custom styles for this template -->
   <link href="${staticRoot}/css/common_context.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

     <@cms.header />

    <div class="container">

      <div class="blog-header">
      <!--   <h1 class="blog-title">The Bootstrap Blog哈哈哈哈 苟富贵大范甘迪方法申达股份史蒂芬森的发</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p> -->
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <#if contents?exists>
          <#list contents as oneData>
          <div style="border-bottom-color:#ddd;border-bottom-width:2px;border-bottom-style:solid;margin-bottom:10px;clear: both;line-height:20px;height:20px;"></div>
          <div class="media">
			  <div class="media-left media-middle">
			     <@cms.img oneData/>
			  </div>
			  <div class="media-body">
			    <h2 class="media-heading blog-post-title">${cms.curl_a(oneData)}</h2>
			    <p class="blog-post-meta">${oneData.publish_time!''}<!--<a href="#">Chris</a>  --> </p>
			    <div>${oneData.about!''}</div>
			  </div>
			</div>
          </#list>
         </#if>

<!-- fen ye start -->
		<#if (page?exists && page.totalPages>0)>
		<#assign startNum=1>
		<#assign endNum=1>
		
		 <#if (page.currentPage>8)>
		     <#assign startNum=page.currentPage-5>
		     <#if (page.currentPage+5 > page.totalPages)>
		         <#assign endNum=page.totalPages>
		       <#else>
		           <#assign endNum=page.currentPage+5>
		       </#if>
		 <#else>
		    <#if (page.totalPages>8)>
		       <#if (page.currentPage-5 > 0)>
		       <#assign startNum=page.currentPage-5>
		       </#if>
		       <#if (page.currentPage+5 > page.totalPages)>
		            <#assign endNum=page.totalPages>
		       <#else>
		            <#assign endNum=page.currentPage+5>
		       </#if>
		      
		    <#else>
		       <#assign endNum=page.totalPages>
		    </#if>
		 </#if>
		        <nav style="text-align: center;">
				  <ul class="pagination">
				  <#if (page.totalPages>8)>
				  <li>
				  <a href="?page=1" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				  <#else>
				    <li class="disabled">
				    <a href="javaScript:void(0);" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				   </#if>
				     
				    <#list startNum..endNum as pageNum>
				      <#if (pageNum== page.currentPage)>
				      <li class="active"><a href="javaScript:void(0);">${pageNum}</a></li>
				      <#else>
				      <li><a href="?page=${pageNum}">${pageNum}</a></li>
				      </#if>
				    </#list>
				    
				    <#if (page.currentPage==page.totalPages)>
				    <li class="disabled">
				     <a href="javaScript:void(0);" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				    <#else>
				    <li>
				     <a href="?page=${page.totalPages}" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				    </#if>
				     
				    <li><a href="javascript:void(0)">&nbsp; &nbsp;</a></li>
				    <li><a href="javascript:void(0)">共${page.totalPages?default(0)}页</a></li>
				  </ul>
			  </nav>
		</#if>
		<!-- fen ye end -->
		
        </div><!-- /.main -->

       <div class="col-sm-4  blog-sidebar">
         <!--  <div class="sidebar-module">
            <h3 class="right-type-title"><span><a class="type-a" href="${rc.contextPath}/soa_xiazai">下载</a></span></h3>
            <ol class="list-unstyled">
            
              <@clist type_id="10" count=10 var="cts">
			       <#if (cts?exists && cts?size >0)>
				     <#list cts as oneData>
              		<li>${cms.curl_a(oneData)}</li>
               		</#list>
			     	</#if>
			     </@clist>
			     
            </ol>
          </div> -->


        </div><!-- /.sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

 
     <@cms.footer />
 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <@cms.tongji />
  </body>
</html>
