<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsb.cms.mapper.content.ContContentBodyMapper" >
  <resultMap id="BaseResultMap" type="com.bsb.cms.model.po.content.ContContentBody" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <id column="CONTENT_ID" property="contentId" jdbcType="BIGINT" />
    <result column="EXT_ATTR_BODY" property="extAttrBody" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bsb.cms.model.po.content.ContContentBody" extends="BaseResultMap" >
    <result column="BODY" property="body" jdbcType="LONGVARCHAR" />
  </resultMap>
 <!--  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CONTENT_ID, EXT_ATTR_BODY
  </sql>
  <sql id="Blob_Column_List" >
    BODY
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.bsb.cms.model.po.content.ContContentBodyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cont_content_body
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bsb.cms.model.po.content.ContContentBodyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cont_content_body
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.bsb.cms.model.po.content.ContContentBodyKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cont_content_body
    where ID = #{id,jdbcType=BIGINT}
      and CONTENT_ID = #{contentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.bsb.cms.model.po.content.ContContentBodyKey" >
    delete from cont_content_body
    where ID = #{id,jdbcType=BIGINT}
      and CONTENT_ID = #{contentId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.bsb.cms.model.po.content.ContContentBodyExample" >
    delete from cont_content_body
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bsb.cms.model.po.content.ContContentBody" >
    insert into cont_content_body (ID, CONTENT_ID, EXT_ATTR_BODY, 
      BODY)
    values (#{id,jdbcType=BIGINT}, #{contentId,jdbcType=BIGINT}, #{extAttrBody,jdbcType=VARCHAR}, 
      #{body,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bsb.cms.model.po.content.ContContentBody" >
    insert into cont_content_body
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="contentId != null" >
        CONTENT_ID,
      </if>
      <if test="extAttrBody != null" >
        EXT_ATTR_BODY,
      </if>
      <if test="body != null" >
        BODY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="contentId != null" >
        #{contentId,jdbcType=BIGINT},
      </if>
      <if test="extAttrBody != null" >
        #{extAttrBody,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        #{body,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bsb.cms.model.po.content.ContContentBodyExample" resultType="java.lang.Integer" >
    select count(*) from cont_content_body
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cont_content_body
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.contentId != null" >
        CONTENT_ID = #{record.contentId,jdbcType=BIGINT},
      </if>
      <if test="record.extAttrBody != null" >
        EXT_ATTR_BODY = #{record.extAttrBody,jdbcType=VARCHAR},
      </if>
      <if test="record.body != null" >
        BODY = #{record.body,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update cont_content_body
    set ID = #{record.id,jdbcType=BIGINT},
      CONTENT_ID = #{record.contentId,jdbcType=BIGINT},
      EXT_ATTR_BODY = #{record.extAttrBody,jdbcType=VARCHAR},
      BODY = #{record.body,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cont_content_body
    set ID = #{record.id,jdbcType=BIGINT},
      CONTENT_ID = #{record.contentId,jdbcType=BIGINT},
      EXT_ATTR_BODY = #{record.extAttrBody,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bsb.cms.model.po.content.ContContentBody" >
    update cont_content_body
    <set >
      <if test="extAttrBody != null" >
        EXT_ATTR_BODY = #{extAttrBody,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        BODY = #{body,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
      and CONTENT_ID = #{contentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bsb.cms.model.po.content.ContContentBody" >
    update cont_content_body
    set EXT_ATTR_BODY = #{extAttrBody,jdbcType=VARCHAR},
      BODY = #{body,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
      and CONTENT_ID = #{contentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bsb.cms.model.po.content.ContContentBody" >
    update cont_content_body
    set EXT_ATTR_BODY = #{extAttrBody,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
      and CONTENT_ID = #{contentId,jdbcType=BIGINT}
  </update> -->
</mapper>