<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsb.cms.mapper.content.ContContentBodyMapper" >
  <resultMap id="BaseResultMap" type="contContentBody" >
    <id column="BODY_ID" property="bodyId" jdbcType="BIGINT" />
    <id column="CONTENT_ID" property="contentId" jdbcType="BIGINT" />
    <result column="EXT_ATTR_BODY" property="extAttrBody" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="contContentBody" extends="BaseResultMap" >
    <result column="CONTENT_BODY" property="contentBody" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  
  <insert id="insert" parameterType="contContentBody" >
    insert into cont_content_body (CONTENT_ID, EXT_ATTR_BODY, 
      CONTENT_BODY)
    values (#{contentId,jdbcType=BIGINT}, #{extAttrBody,jdbcType=VARCHAR}, 
      #{contentBody,jdbcType=LONGVARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="contContentBody" >
    update cont_content_body
    set EXT_ATTR_BODY = #{extAttrBody,jdbcType=VARCHAR}, CONTENT_BODY = #{contentBody,jdbcType=LONGVARCHAR}
    where BODY_ID = #{bodyId,jdbcType=BIGINT}
      and CONTENT_ID = #{contentId,jdbcType=BIGINT}
  </update>
  
</mapper>